{% extends "base.html" %}
{% block content%}


<div class="content-section">
    <form action = registers method="post">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register </legend>
            </fieldset>
            <div class="form-outline mb-4">
                <input type="username" id="username" name="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
              </div>
            
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="userpass" name="userpass" class="form-control" />
                <label class="form-label" for="userpass">Password</label>
              </div>
            
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  
                </div>
            
              </div>
            
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
    </form>

{% endblock %}