{% extends "base.html" %}
{% block content%}


<div class="content-section">
    <form action = registers method="post">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Register Heart </legend>
            </fieldset>
            <div class="form-outline mb-4">
                <input type="text" id="heartid" name="heart_id" class="form-control" />
                <label class="form-label" for="heartid">Heart ID</label>
              </div>
              <div class="form-outline mb-4">
                <input type="text" id="heartdate" name="heart_date" class="form-control" />
                <label class="form-label" for="heartdate">Heart_Date</label>
              </div>
            
            
              <div class="form-outline mb-4">
                <input type="text" id="heartrate" name="heart_rate" class="form-control" />
                <label class="form-label" for="heartrate">Heart_Rate</label>
              </div>
            
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  
                </div>
            
              </div>
            
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
    </form>

{% endblock %}